<nav class="nav-bar">
  <ul class="navigation">
    <li><a class="hover" href="/">Zoo Home</a></li>
    <li><a class="hover" href="/mammals">Mammals</a></li>
    <li><a class="hover" href="/birds">Birds</a></li>
    <li><a class="hover" href="/reptiles">Reptils</a></li>
  </ul>
</nav>
