<nav class="nav-bar">
    <ul class="navigation">
        <li><a href="/">Zoo Home</a></li>
        <li><a href="mammals">Mammals</a></li>
        <li><a href="birds">Birds</a></li>
        <li><a href="reptiles">Reptiles</a></li>
    </ul>
</nav>