:root {
  --primary-background-color: #174918;
  --secondary-background-color: beige;
  --accent-color: #57a928;
  --primary-text-color: #fff;
  --secondary-text-color: #1d1c1c;
  --spacing-small: 8px;
  --spacing-base: 16px;
  --spacing-medium: 24px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
  min-height: 30%;
  background-image: url('../images/hero-img.jpg');
  background-size: cover;
  position: relative;
  h1 {
    color: white;
    padding: 60px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 5px;
  }
}

section,
.routes-container {
  flex-grow: 1;
}
footer {
  height: 60px;
  text-align: center;
  background-color: var(--primary-background-color);
  margin-top: 24px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.nav-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-background-color);
  padding: 20px;
}

.navigation li {
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  /* color: var(--primary-text-color); */
}

.hover {
  --b: 0.1em; /* the thickness of the line */
  --c: #ad3; /* the color */

  color: #fff0;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #fff 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.hover:hover {
  --_p: 100%;
  --_s: 0.3s;
}

.side-bar {
  max-width: 200px;
  min-height: 60vh;
  padding: 12px;
  border-right: 1px solid rgba(128, 128, 128, 0.53);
  margin-right: 16px;
}
.sidebar h3 {
  margin-top: 12px;
}
.sidebar p {
  margin: 4px;
  cursor: pointer;
  min-width: 100px;
  width: fit-content;
  transition: all 0.3s;
}
.sidebar p:hover {
  color: #57a928;
  font-size: 1.2rem;
}

.go-routes-link {
  border: 1px solid #174918;
  padding: 3px 8px;
  margin-top: 16px;
  display: inline-block;
  border-radius: 6px;
  text-decoration: none;
  color: #174918;
}

.inverted-5 {
  background: conic-gradient(from -135deg, #fff 0 90deg, #ad3 0),
    conic-gradient(from -135deg, #ad3 0 90deg, #ffff 0);
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 200% 100%;
  background-position: right;
  transition: 0.5s;
}
.inverted-5:hover {
  background-position: center;
  border: 1px solid #8bbb1a;
}
/* Routes styles start*/
.routes-container {
  display: flex;
  align-items: start;
  height: 69vh;
  width: 95%;
  margin-top: 24px;
}
.main-content {
  width: 60%;
  min-height: 60vh;
}

.card {
  max-width: 800px;
  border: 1px solid gray;
  border-radius: 12px;
}
.card-img {
  margin-bottom: 24px;
}

.main-content img {
  width: 100%;
  height: 320px;
  margin: auto;
  margin-bottom: 24px;
  border-radius: 12px 12px 0 0;
}

.card-body {
  margin-bottom: 24px;
  padding-top: 20px;
  padding: 16px;
}

.card-footer {
  height: 40px;
}

.main-content .animal-details {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.long-description {
  margin-top: 15px;
}

.main-content .animal-details-img {
  width: 80%;
  height: auto;
  align-self: center;
}

.side-bar {
  width: 30%;
  min-height: 60vh;
  padding: 12px;
  border-right: 1px solid rgba(128, 128, 128, 0.53);
  margin-right: 16px;
}
.welcome-message {
  padding: 8px;

  font-size: 1.12rem;
  color: rgb(0, 0, 0);
}

/* Routes styles start*/
.routes-container {
  display: flex;
  align-items: start;
  width: 95%;
  margin-top: 24px;
}
.main-content {
  width: 60%;
  min-height: 60vh;
}

.card {
  max-width: 800px;
  border: 1px solid #d1cccc;
  border-radius: 12px;
}

.card-img-home {
  text-align: center;
  padding-top: 20px;
}
.main-content .animal-img-routes-page {
  width: 100%;
  max-height: 400px;
  border-radius: 12px 12px 0 0;
}
.main-content .animal-img-home-page {
  width: 150px;
  height: auto;
  margin: auto;
  border-radius: 12px;
}
.card-body {
  padding-top: 20px;
  padding: 16px;
  p {
    margin: 4px 0;
  }
  b {
    width: 95px;
    display: inline-block;
  }
}

.read-more-btn a:link {
  text-decoration: none;
  color: inherit;
}

.read-more-btn {
  height: 25px;
  width: 100px;
}

.card-footer {
  height: 40px;
  padding: 12px;
}
/* Routes styles end */

/* Read more and less styles  start*/
.read-more,
.read-less {
  font-weight: bold;
  color: green;
  text-decoration: underline;
  padding: 0 6px;
  cursor: pointer;
}
.read-more:hover,
.read-less:hover {
  opacity: 0.7;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
/* Read more and less styles  end*/

@media screen and (min-width: 769px) {
  header {
    height: 400px;
  }

  .side-bar {
    max-width: 150px;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .routes-container {
    overflow: scroll;
  }
  .card {
    max-width: 800px;
    border: 1px solid #d1cccc;
    border-radius: 12px;
    height: fit-content;
  }

  .card-img-home {
    height: 40px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 160px;
  }
  .main-content .animal-img-routes-page {
    width: 100%;
    max-height: 170px;
    border-radius: 12px 12px 0 0;
  }
  .main-content .animal-img-home-page {
    width: 150px;
    height: auto;

    border-radius: 12px;
  }
  .card-body {
    padding-top: 20px;
    padding: 16px;
    p {
      margin: 4px 0;
    }
    b {
      width: 95px;
      display: inline-block;
    }
  }
  .card {
    max-width: 800px;
    border: 1px solid gray;
    border-radius: 12px;
  }
  .card-img {
    margin: 0;
  }

  .main-content img {
    width: 100%;
    height: 320px;
    margin: auto;
    margin-bottom: 24px;
    border-radius: 12px 12px 0 0;
  }

  .card-body {
    margin: 0;
    padding-top: 20px;
    padding: 16px;
  }

  .card-footer {
    height: 40px;
  }
}
