:root {
  --primary-background-color: #174918;
  --secondary-background-color: beige;
  --accent-color: #57a928;
  --primary-text-color: #fff;
  --secondary-text-color: #1d1c1c;
  --spacing-small: 8px;
  --spacing-base: 16px;
  --spacing-medium: 24px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

header {
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  text-align: center;
  background-color: #80b85f;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.navigation {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-background-color);
  padding: 20px;
}

.navigation li {
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.side-bar {
  width: 40%;
  min-height: 60vh;
  padding: 12px;
  border-right: 1px solid rgba(128, 128, 128, 0.53);
  margin-right: 16px;
}
.welcome-message {
  padding: 8px;
  font-size: 2rem;
  color: green;
}

/* Routes styles start*/
.routes-container {
  display: flex;
  align-items: start;
  width: 95%;
  margin-top: 24px;
}
.main-content {
  width: 60%;
  min-height: 60vh;
}

.card {
  max-width: 800px;
  border: 1px solid gray;
  border-radius: 12px;
}

.main-content img {
  width: 100%;
  height: 320px;
  margin: auto;
  border-radius: 12px 12px 0 0;
}

.card-body {
  padding-top: 20px;
  padding: 16px;
}

.card-footer {
  height: 40px;
  padding: 12px;
}
/* Routes styles end */

/* Read more and less styles  start*/
.read-more,
.read-less {
  font-weight: bold;
  color: green;
  text-decoration: underline;
  padding: 0 6px;
  cursor: pointer;
}
.read-more:hover,
.read-less:hover {
  opacity: 0.7;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
/* Read more and less styles  end*/
