<!DOCTYPE html>
<html lang="en">
  <%- include("./../partials/head.ejs") %>
  <script type="module"  src="js/functions.js" defer></script>
  <body>
    <%- include("./../partials/header.ejs") %>
    <div class="routes-container">
      <section class="main-content">
        <div class="animal-details">
          
        </div>
      </section>
    </div>
    <%- include("./../partials/footer.ejs") %>
  </body>
</html>