<!DOCTYPE html>
<html lang="en">
  <%- include("./../partials/head.ejs") %>
  <body>
    <%- include("./../partials/header.ejs") %>
    <div class="routes-container">
      <section class="side-bar"><%- include("../partials/sidebar.ejs") %></section>
      <section class="main-content">
        <div class="welcome-message">
          Welcome to our zoo. Please click on the animal you want to examine.
        </div>
      </section>
    </div>
    <%- include("./../partials/footer.ejs") %>
    <script type="module" src="js/functions.js"></script>
  </body>
</html>
