<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
    <%- include("./../partials/head.ejs") %>
<body>
=======

<body>
    <h1><%= pageTitle %></h1>
>>>>>>> routing-part2
    
    <%- include("./../partials/header.ejs") %>
</body>
</html>