<!DOCTYPE html>
<html lang="en">
    <%- include("./../partials/head.ejs") %>
<body>
    
    <%- include("./../partials/headerDAVIDEexperiment.ejs") %>
    
    <section class="main-content">
        <%- include("../partials/sidebar") %>
    </section>

    <%- include("./../partials/footer.ejs") %>

</body>
</html>